@import './styles/Header/header.css';
@import './styles/ChooseTour/chooseTourSection.css';
@import './styles/Form/form.css';
@import './styles/Reviews/reviewsSection.css';
@import './styles/TravelPhoto/travelPhotoSection.css';
@import './styles/TravelStories/travelStoriesSection.css';
@import './styles/Mail/mailSection.css';
@import './styles/Footer/footer.css';
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto";
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

footer, header {
  display: block;
}

html, body {
  max-height: 100%;
  max-width: 100%;
  font-size: 100%;
}

input, button {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

body {
  position: relative;
  background: #F9F7F4;
  overflow-x: hidden;
  margin: 0 auto;
}
body .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 135px;
  margin: 0 auto;
  overflow-x: hidden;
}

@media (max-width: 1920px) {
  body {
    max-width: 1920px;
  }
  body .wrapper {
    max-width: 100%;
  }
}
@media (max-width: 1024px) {
  body {
    max-width: 1024px;
  }
  body .wrapper {
    max-width: 100%;
  }
}
@media (max-width: 360px) {
  body .wrapper {
    max-width: 360px;
    gap: 75px;
  }
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section .section__header__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.section .section__header__flex .section__header__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
  text-align: center;
  color: #1B1F2B;
}
.section .section__header__flex .section__header__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  text-align: center;
  color: #A6A6A6;
}
.section .section__content__flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section .info-link__text {
  max-width: 120px;
  max-height: 28px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  color: #FFFFFF;
}
.section .info-link__arrow {
  max-width: 24px;
  max-height: 26px;
}
.section .info-link__arrow img {
  margin-top: 21%;
  color: #FFFFFF;
  z-index: 0;
}
.section .info-cards__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  color: #FFFFFF;
}

@media (max-width: 1175px) {
  .section .section__content__flex {
    align-items: center;
  }
}
@media (max-width: 780px) {
  .section .info-link__text {
    font-size: 20px;
  }
  .section .info-cards__header {
    font-size: 23px;
  }
}
@media (max-width: 576px) {
  .section .section__header__flex .section__header__title {
    font-size: 34px;
    line-height: 112%;
  }
  .section .section__header__flex .section__header__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 360px) {
  .section .info-link__text {
    max-width: 84px;
    max-height: 23px;
    font-size: 15px;
    line-height: 142%;
  }
  .section .info-link__arrow img {
    left: 1px;
    top: -8px;
  }
  .section .section__header__flex .section__header__title {
    font-size: 34px;
    line-height: 112%;
  }
  .section .section__header__flex .section__header__subtitle {
    font-size: 16px;
  }
  .section .info-cards__header {
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.04em;
  }
}/*# sourceMappingURL=index.css.map */