$whiteColor:  #FFFFFF;
$blackColor: #1B1F2B;
$orangeColor: #EFA501;
$greyColor: #A6A6A6;
$beigeColor: #F9F7F4;
$darkGreen: #286562;
$greenColor: #3B7E7B;
$oliveGreenColor: #627F7E;
$lightGreenColor: #E0F0E5;
$lightBeigeColor: #F4F0E9;
$lightOrange: #F8E6BE;
$whiteSmoke: #F1F3F2;
$gainsboro: #D9DFDB;

*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto';
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
footer, header{display: block;}

html, body{
    max-height: 100%;
    max-width: 100%;
    font-size: 100%;
}

input, button{font-family: inherit;}
button{cursor: pointer;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul, li{list-style: none;}

body {
    background: #F9F7F4;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 75px;
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 360px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./styles/Header/header.png');
    background-size: cover;
    min-height: 488px;

    .header__head {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 214px;
        max-width: 360px;
        margin-left: 80px;

        .header__navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: 320px;
            min-height: 88px;

            .logo {
                min-width: 133px;
                color: white;
            }

            .number {
                color: white;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 142%;
            }
        } 
    }

    .header__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        min-height: 390px;

        .header__h1 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 112%;
            text-align: center;
            letter-spacing: 0.02em;
            color: white;
        }

        .header__p {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 142%;

            text-align: center;
            color: white;
            max-width: 310px;
        }

        .header__btncont {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 5px 20px;
            gap: 10px;
            background: white;
            border-radius: 5px;

        }
    }
}

.choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 360px;
    
    .choose__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .choose__header-title {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 112%;
            letter-spacing: 0.02em;
        }

        .choose__header-menu {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;

            .choose__menu-line {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
                min-width: 360px;

                .choose__menu-line-item {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 142%;
                }
            }
        }
    }

    .choose__content {
        max-width: 318px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;

        .choose__card {
            border-radius: 20px;
            min-width: 318px;
            min-height: 318px;
            position: relative;

            .choose__card__background {
                position: absolute;
                max-width: 318px;
                min-width: 318px;
                max-height: 318px;
                min-height: 318px;
                border-radius: 20px;
                z-index: -1;
            }

            .choose__card-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                padding: 25px;
                position: absolute;

                .choose__text-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    gap: 13px;

                    .choose__card__title {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 23px;
                        line-height: 120%;
                        letter-spacing: 0.04em;
                        color: white;
                    }

                    .choose__card__subtitle {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 142%;
                        letter-spacing: -0.01em;
                        color: white;
                    }
                }

                .chooser__link {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 15px;
                    position: absolute;
                    top: 267px;

                    .info-link__text {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 142%;
                        color: white;
                    }
                }
            }
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 360px;

    .form__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .form__header__title {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 112%;
            text-align: center;
            letter-spacing: 0.02em;
        }

        .form__header__subtitle {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 142%;
            text-align: center;
        }
    }

    .form__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 20px 40px;
        gap: 30px;
        max-width: 318px;
        border-radius: 30px;
        background: white;

        .form__field {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            max-width: 278px;

            .field-name {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 142%;
            }

            .field-select {

            }

            .field-input, .field-select {
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10px;
                gap: 10px;
                max-width: 278px;
                min-width: 278px;
                max-height: 43px;
                min-height: 43px;
                background: #F4F0E9;
                border: 1px solid #F4F0E9;
                border-radius: 10px;
            }
        }

        .form__big-field {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;
            max-width: 278px;
            
            .field-comment {
                resize: none;
                background: #F4F0E9;
                border: 1px solid #F4F0E9;
                min-width: 278px;
                border-radius: 10px;
                min-height: 132px;
            }
        }

        .form__age {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            min-height: 54px;

            .age-question {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 142%;
            }

            .age-cont {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 30px;

                label {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;

                    input {
                        width: 21px;
                        height: 21px;
                    }

                    p {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 142%;
                    }
                }
            }
        }

        .form__accept {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 10px;
            max-width: 278px;

            .accept__btn {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 10px;

                .accept__input {
                    width: 20px;
                    height: 20px;
                }

                .accept__text {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 142%;
                    color: #A6A6A6;
                }
            }
        }

        .form__btns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            max-width: 278px;
            gap: 10px;

            .form__search-btn {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 15px 30px;
                gap: 10px;
                max-width: 134px;
                background: #286562;
                border-radius: 10px;
                color: white;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 142%;
                max-height: 47px;
            }

            .form__reset-btn {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 15px 30px;
                gap: 10px;
                background: #E0F0E5;
                border-radius: 10px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 142%;
                color: #286562;

            }
        }
    }
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 360px;

    .review__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .review__header-title {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 112%;
            text-align: center;
            letter-spacing: 0.02em;
        }

        .review__header-subtitle {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 142%;
            text-align: center;
            color: #A6A6A6;
            max-width: 318px;
        }
    }

    .review__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
        max-width: 360px;

        .review__card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            background: #F4F0E9;
            border-radius: 20px;
            max-width: 318px;

            .review__card-txt {
                max-width: 278px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 142%;
            }

            .review__card-footer {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                padding: 45px 0px 0px;

                .review__card-footer-txt {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    min-width: 203px;

                    .review__name {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 23px;
                        line-height: 120%;
                        letter-spacing: 0.04em;
                    }

                    .review__tour {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 142%;
                        letter-spacing: -0.01em;
                        color: #A6A6A6;
                    }
                }
            }
        }

    }
}

.travelPh {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 360px;
    // min-height: 550px;

    .travelPh__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .travelPh__header-title {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 112%;
            text-align: center;
            letter-spacing: 0.02em;
        }

        .travelPh__header-subtitle {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 142%;
            text-align: center;
            color: #A6A6A6;
            max-width: 318px;
        }
    }

    .travelPh__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;

        .small {
            gap: 10px;
        }

        .big {
            gap: 18px;
        }

        .travelPh__ph-block {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            max-width: 318px;

            .travelPh__big-ph {
                max-width: 150px;
                max-height: 110px;
                min-height: 110px;
                border-radius: 20px;
            }

            .travelPh__small-ph {
                max-width: 99.33px;
                min-height: 110px;
                border-radius: 20px;
            }
        }
    }
}

.travelSt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 360px;

    .travelSt__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 21px;
        gap: 50px;
        max-width: 360px;
        max-height: 142px;

        .travelSt__header-cont {
            max-width: 319px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .travelSt__header-title {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 34px;
                line-height: 112%;
                text-align: center;
                letter-spacing: 0.02em;
            }
    
            .travelSt__header-subtitle {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 142%;
                text-align: center;
                color: #A6A6A6;
            }
        }

    }

    .travelSt__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        max-width: 318px;

        .travelSt__card {
            max-width: 318px;
            min-height: 455px;
            border-radius: 20px;
            position: relative;

            .travelSt__card__background {
                max-width: 318px;
                min-width: 318px;
                min-height: 455px;
                z-index: -1;
                border-radius: 20px;
            }

            .travelSt__card-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                padding: 30px;
                gap: 20px;
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0px;
                bottom: 0px;

                .travelSt__card-main {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 20px;
                    max-width: 263px;

                    .travelSt__card-head {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 23px;
                        line-height: 120%;
                        letter-spacing: 0.04em;
                        color: #FFFFFF;
                        max-width: 161px;
                    }

                    .travelSt__card-txt, .travelSt__card-ul {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 142%;
                        color: white;
                    }

                    .travelSt__card-ul .travelSt__card-li{
                        list-style: inside;
                    }
                }

                .travelSt__card-footer {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 15px;

                    .travelSt__card-footer-link {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 142%;
                        color: white;
                        margin-top: -36px
                    }
                }
            }
        }
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 30px;
    max-width: 360px;
    min-width: 360px;

    .contacts__photo {
        max-width: 130px;
        max-height: 130px;
        border-radius: 20px;
    }

    .contacts__text-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        max-width: 291px;

        .contacts__header {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 23px;
            line-height: 120%;
            text-align: center;
            letter-spacing: 0.04em;
            max-width: 291px;
        }

        .contacts__text {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 142%;
            text-align: center;
            color: #A6A6A6;
            max-width: 291px;
        }
    }
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 360px;
    min-width: 360px;
    min-height: 102px;
    max-width: 95px;
    background: #F4F0E9;

    .footer__content {
        min-width: 318px;
        min-height: 53px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;

        .footer__header {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 142%;
            color: #A6A6A6;
        }

        .footer__content__social-networks-links {
            max-width: 314px;
            min-height: 23px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 15px;

            .footer__link-block {
                max-width: 95px;
                min-height: 23px;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;

                .inst-icon {
                    max-width: 26px;
                    max-height: 26px;
                }

                .footer__social-network {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 142%;
                    color: $blackColor;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (min-width: 362px) {
    .form {
        max-width: 1024px;
        min-width: 1024px;
        padding: 60px;

        .form__content {
            max-width: 918px;
            min-width: 918px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            .form__field {
                max-width: 389px;
                min-width: 389px;

                .field-input, .field-select  {
                    max-width: 389px;
                    min-width: 389px;
                }
            }
        }
    }
}