.wrapper {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0px; */
    /* gap: 135px;
    max-width: 1920px;
    margin: 0 auto; */
    margin-top: 100px;
}

body {
    position: relative;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* padding: 0px; */
    gap: 100px;
    max-width: 1170px;
    /* margin: 0 auto; */
}

.section__content {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 400px;
    padding: 0px;
}

.content__block {
    position: relative;
    max-width: 1170px;
    max-height: 567px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* top: 90px; */
    /* margin-top: 500px; */
}

/*! фото */
.s {
    position: absolute;
    overflow: hidden;
    border-radius: 50px;
}

.s:hover .img-cont {
    transform: scale(1.2);
    transition: all 300ms ease;
}

.img-cont {
    position: relative;
    max-width: 1170px;
    z-index: -1;
}
.content__block__img {
    max-width: 1170px;
    /* z-index: -1; */
    border-radius: 50px;
}
.content__block__main {
}
/* ! */
.content__block__footer {
    
}

@media (max-width: 1024px) {
    .section {
        max-width: 1024px;
    }

    .content__block {
        max-width: 900px;
    }

    .img-cont{
        max-width: 900px;
    }

    .content__block__img {
        max-width: 900px;
    }
}