.formSection {
  gap: 100px;
}
.formSection .formSection__header {
  gap: 30px;
}
.formSection .formSection__header .formSection__header__subtitle {
  max-width: 458px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  text-align: center;
  color: #A6A6A6;
}
.formSection .formSection__content-form {
  gap: 33px;
  background: #FFFFFF;
  border-radius: 50px;
  min-height: 986px;
}
.formSection .formSection__content-form .form-cont {
  display: flex;
  max-width: 1170px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 33px;
  margin-top: 70px;
}
.formSection .formSection__content-form .form-cont .formSection__input-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  margin-top: -5px;
}
.formSection .formSection__content-form .form-cont .formSection__input-fields-container {
  max-height: 104px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  margin-top: 3px;
}
.formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container {
  max-width: 500px;
  max-height: 104px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
.formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container .formSection__select-field {
  min-width: 500px;
  max-width: 500px;
  min-height: 68px;
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  gap: 10px;
  padding: 20px;
  cursor: pointer;
}
@media (min-width: 361px) {
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container .formSection__select-field:hover {
    background: #F4F0E9;
  }
}
.formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container .formSection__input-field {
  min-width: 500px;
  max-width: 500px;
  min-height: 68px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 10px;
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  cursor: pointer;
}
@media (min-width: 361px) {
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container .formSection__input-field:focus {
    border: 1px solid #A6A6A6;
    background: #F4F0E9;
  }
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container .formSection__input-field:hover {
    background: #F4F0E9;
  }
}
.formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container .formSection__input-field::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #A6A6A6;
}
.formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container .formSection__input-field:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #A6A6A6;
}
.formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container .formSection__input-field::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #A6A6A6;
}
.formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container input[type=date]:not(.has-value):before {
  color: #A6A6A6;
  content: attr(placeholder);
}
.formSection .formSection__content-form .formSection__input-comment-container {
  max-width: 1030px;
  max-height: 188px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  margin-left: 70px;
}
.formSection .formSection__content-form .formSection__input-comment-container .formSection__input-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  margin-top: -5px;
}
.formSection .formSection__content-form .formSection__input-comment-container .input-comment {
  resize: none;
}
.formSection .formSection__content-form .formSection__input-comment-container .formSection__input-field-comment {
  max-width: 1030px;
  min-width: 1030px;
  min-height: 152px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 10px;
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
}
.formSection .formSection__content-form .formSection__ageCheck-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  margin-top: 5px;
  margin-left: 70px;
}
.formSection .formSection__content-form .formSection__ageCheck-container .formSection__input-ageCheck-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}
.formSection .formSection__content-form .formSection__ageCheck-container .formSection__input-ageCheck-container .formSection__input-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  margin-top: -5px;
}
.formSection .formSection__content-form .formSection__ageCheck-container .formSection__input-ageCheck-container .formSection__radio-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 31px;
}
.formSection .formSection__content-form .formSection__ageCheck-container .formSection__input-ageCheck-container .formSection__radio-buttons-container .formSection__radio-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 11px;
}
.formSection .formSection__content-form .formSection__ageCheck-container .formSection__input-ageCheck-container .formSection__radio-buttons-container .formSection__radio-button-container .formSection__age-radio-button {
  display: none;
}
.formSection .formSection__content-form .formSection__ageCheck-container .formSection__input-ageCheck-container .formSection__radio-buttons-container .formSection__radio-button-container .radio__border {
  min-width: 21px;
  min-height: 21px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
}
.formSection .formSection__content-form .formSection__ageCheck-container .formSection__input-ageCheck-container .formSection__radio-buttons-container .formSection__radio-button-container .radio__border::before {
  content: "";
  position: absolute;
  top: 48%;
  left: 48%;
  transform: translate(-50%, -50%);
  display: block;
  min-width: 12px;
  min-height: 12px;
  background-color: #1B1F2B;
  border-radius: 50%;
  transition: 0.2s;
  z-index: -1;
}
.formSection .formSection__content-form .formSection__ageCheck-container .formSection__input-ageCheck-container .formSection__radio-buttons-container .formSection__radio-button-container .formSection__age-radio-button:checked + .radio__border::before {
  z-index: 1;
}
.formSection .formSection__content-form .formSection__agreement-container {
  margin-left: 70px;
}
.formSection .formSection__content-form .formSection__agreement-container .formSection__accept {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #A6A6A6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 19px;
}
.formSection .formSection__content-form .formSection__agreement-container .formSection__accept .formSection__agreement-radio-button {
  display: none;
}
.formSection .formSection__content-form .formSection__agreement-container .formSection__accept .agreement-text .formSection__agreement-text-link {
  color: #1B1F2B;
  text-decoration: none;
  cursor: pointer;
  margin-left: 1px;
}
.formSection .formSection__content-form .formSection__agreement-container .formSection__accept .checkbox__border {
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  border: 2px solid black;
  border-radius: 20%;
  position: relative;
}
.formSection .formSection__content-form .formSection__agreement-container .formSection__accept .checkbox__border::before {
  content: "";
  position: absolute;
  left: -1.3px;
  top: 48%;
  min-height: 29%;
  min-width: 2px;
  background-color: #1B1F2B;
  transform: translateX(9.45px) rotate(-45deg);
  transform-origin: left bottom;
  opacity: 0;
  transition: 0.2s;
}
.formSection .formSection__content-form .formSection__agreement-container .formSection__accept .checkbox__border::after {
  position: absolute;
  left: 9%;
  bottom: 19%;
  min-height: 2px;
  min-width: 68%;
  background-color: #1B1F2B;
  content: "";
  transform: translateX(7.1px) rotate(-46deg);
  transform-origin: left bottom;
  opacity: 0;
  transition: 0.2s;
}
.formSection .formSection__content-form .formSection__agreement-container .formSection__accept .formSection__agreement-radio-button:checked + .checkbox__border::before,
.formSection .formSection__content-form .formSection__agreement-container .formSection__accept .formSection__agreement-radio-button:checked + .checkbox__border::after {
  opacity: 1;
}
@media (min-width: 361px) {
  .formSection .formSection__content-form .formSection__agreement-container .formSection__accept .formSection__agreement-text-link:hover {
    text-decoration: underline;
  }
  .formSection .formSection__content-form .formSection__agreement-container .formSection__accept .formSection__agreement-text-link:active {
    color: #286562;
  }
}
.formSection .formSection__content-form .formSection__buttons-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  margin-left: 70px;
}
.formSection .formSection__content-form .formSection__buttons-container .formSection__submit-button {
  min-width: 235px;
  min-height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #286562;
  border-radius: 10px;
  cursor: pointer;
}
.formSection .formSection__content-form .formSection__buttons-container .formSection__submit-button .formSection__submit-button-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #FFFFFF;
}
@media (min-width: 361px) {
  .formSection .formSection__content-form .formSection__buttons-container .formSection__submit-button:hover {
    background: #3B7E7B;
  }
  .formSection .formSection__content-form .formSection__buttons-container .formSection__submit-button:active {
    background: #627F7E;
  }
}
.formSection .formSection__content-form .formSection__buttons-container .formSection__reset-button {
  min-width: 235px;
  min-height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #E0F0E5;
  border-radius: 10px;
  cursor: pointer;
}
.formSection .formSection__content-form .formSection__buttons-container .formSection__reset-button .formSection__reset-button-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #286562;
}
@media (min-width: 361px) {
  .formSection .formSection__content-form .formSection__buttons-container .formSection__reset-button:hover {
    background: #F1F3F2;
  }
  .formSection .formSection__content-form .formSection__buttons-container .formSection__reset-button:active {
    background: #D9DFDB;
  }
}

input:focus::-webkit-input-placeholder {
  z-index: -1;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

@media (max-width: 1175px) {
  .formSection .formSection__content-form {
    max-width: 95%;
    min-width: 95%;
  }
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container {
    max-width: 410px;
  }
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container .formSection__select-field {
    max-width: 410px;
    min-width: 410px;
  }
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container .formSection__input-field {
    min-width: 410px;
  }
  .formSection .formSection__content-form .formSection__input-comment-container {
    margin-left: 0;
  }
  .formSection .formSection__content-form .formSection__input-comment-container .formSection__input-field-comment {
    max-width: 870px;
    min-width: 860px;
  }
  .formSection .formSection__content-form .formSection__ageCheck-container {
    min-width: 90%;
  }
  .formSection .formSection__content-form .formSection__agreement-container {
    min-width: 90%;
  }
  .formSection .formSection__content-form .formSection__agreement-container .formSection__accept {
    justify-content: flex-start;
  }
  .formSection .formSection__content-form .formSection__buttons-container {
    min-width: 90%;
  }
}
@media (max-width: 1024px) {
  .formSection {
    gap: 100px;
    margin: 0 auto;
  }
  .formSection .formSection__content-form {
    min-width: 91%;
    min-height: 844px;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 34px;
  }
  .formSection .formSection__content-form .form-cont {
    gap: 32px;
    margin-top: 0px;
  }
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container {
    gap: 20px;
    max-height: 102px;
  }
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container {
    max-width: 389px;
  }
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container .formSection__select-field {
    max-width: 389px;
    min-width: 389px;
  }
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container .formSection__input-field {
    min-width: 389px;
  }
  .formSection .formSection__content-form .formSection__input-comment-container {
    max-width: 798px;
    max-height: 183.4px;
    margin-left: 11px;
  }
  .formSection .formSection__content-form .formSection__input-comment-container .formSection__input-field-comment {
    max-width: 798px;
    min-width: 798px;
  }
  .formSection .formSection__content-form .formSection__agreement-container .formSection__accept {
    gap: 12px;
  }
  .formSection .formSection__content-form .formSection__agreement-container .formSection__accept .agreement-text .formSection__agreement-text-link {
    margin-top: 0px;
  }
}
@media (max-width: 920px) {
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container {
    max-width: 300px;
  }
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container .formSection__select-field {
    max-width: 300px;
    min-width: 300px;
  }
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container .formSection__input-field {
    min-width: 300px;
  }
  .formSection .formSection__content-form .formSection__input-comment-container .formSection__input-field-comment {
    max-width: 630px;
    min-width: 630px;
  }
}
@media (max-width: 731px) {
  .formSection {
    max-width: 360px;
    gap: 40px;
  }
  .formSection .formSection__header {
    gap: 20px;
  }
  .formSection .formSection__header .formSection__header__title {
    letter-spacing: 0.7px;
  }
  .formSection .formSection__header .formSection__header__subtitle {
    max-width: 318px;
  }
  .formSection .formSection__content-form {
    border-radius: 30px;
    gap: 30px;
    max-width: 318px;
    min-height: 1110px;
    border-radius: 20px;
    padding: 0px;
  }
  .formSection .formSection__content-form .form-cont {
    gap: 28px;
    margin-top: 16px;
    margin-right: 31px;
  }
  .formSection .formSection__content-form .form-cont .formSection__input-name {
    font-size: 16px;
    margin-top: 0px;
  }
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container {
    max-height: 74px;
  }
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container {
    max-width: 250px;
    max-height: 74px;
  }
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container .formSection__input-field {
    padding: 8px;
  }
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container .formSection__select-field {
    min-width: 278px;
    min-height: 43px;
    font-size: 15px;
    padding: 3px;
    letter-spacing: 0.4px;
  }
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container .formSection__input-field {
    min-width: 278px;
    max-width: 278px;
    min-height: 43px;
  }
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container .formSection__input-field::-moz-placeholder {
    font-size: 16px;
  }
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container .formSection__input-field:-ms-input-placeholder {
    font-size: 16px;
  }
  .formSection .formSection__content-form .form-cont .formSection__input-fields-container .formSection__input-field-container .formSection__input-field::placeholder {
    font-size: 16px;
  }
  .formSection .formSection__content-form .formSection__input-comment-container {
    max-width: 278px;
    max-height: 163px;
    margin-left: 0;
  }
  .formSection .formSection__content-form .formSection__input-comment-container .formSection__input-name {
    font-size: 16px;
    margin-top: 0px;
  }
  .formSection .formSection__content-form .formSection__input-comment-container .formSection__input-field-comment {
    max-width: 278px;
    min-width: 278px;
    min-height: 132px;
  }
  .formSection .formSection__content-form .formSection__ageCheck-container {
    margin-left: 0;
  }
  .formSection .formSection__content-form .formSection__ageCheck-container .formSection__input-ageCheck-container {
    gap: 8px;
  }
  .formSection .formSection__content-form .formSection__ageCheck-container .formSection__input-ageCheck-container .formSection__input-name {
    font-size: 16px;
  }
  .formSection .formSection__content-form .formSection__ageCheck-container .formSection__input-ageCheck-container .formSection__radio-buttons-container {
    gap: 27px;
  }
  .formSection .formSection__content-form .formSection__ageCheck-container .formSection__input-ageCheck-container .formSection__radio-buttons-container .formSection__radio-button-container .radio__border {
    min-width: 17px;
    min-height: 17px;
  }
  .formSection .formSection__content-form .formSection__ageCheck-container .formSection__input-ageCheck-container .formSection__radio-buttons-container .formSection__radio-button-container .radio__border::before {
    min-width: 10px;
    min-height: 9px;
  }
  .formSection .formSection__content-form .formSection__agreement-container {
    margin-left: 0;
  }
  .formSection .formSection__content-form .formSection__agreement-container .formSection__accept {
    font-size: 16px;
    gap: 0;
  }
  .formSection .formSection__content-form .formSection__agreement-container .formSection__accept .checkbox__border {
    margin-bottom: 45px;
    min-width: 16px;
    min-height: 16px;
  }
  .formSection .formSection__content-form .formSection__agreement-container .formSection__accept .agreement-text {
    margin-left: 12px;
    font-size: 16px;
    max-width: 248px;
  }
  .formSection .formSection__content-form .formSection__agreement-container .formSection__accept .agreement-text .formSection__agreement-text-link {
    margin-left: 1px;
    font-size: 16px;
  }
  .formSection .formSection__content-form .formSection__buttons-container {
    gap: 10px;
    margin-left: 0;
  }
  .formSection .formSection__content-form .formSection__buttons-container .formSection__submit-button {
    min-width: 134px;
    min-height: 47px;
  }
  .formSection .formSection__content-form .formSection__buttons-container .formSection__submit-button .formSection__submit-button-text {
    font-size: 16px;
  }
  .formSection .formSection__content-form .formSection__buttons-container .formSection__reset-button {
    min-width: 134px;
    min-height: 47px;
  }
  .formSection .formSection__content-form .formSection__buttons-container .formSection__reset-button .formSection__reset-button-text {
    font-size: 16px;
  }
}/*# sourceMappingURL=form.css.map */