.chooseTourSection {
  min-height: 1334px;
  gap: 100px;
}
.chooseTourSection .chooseTourSection__header {
  max-width: 700px;
  gap: 35px;
}
.chooseTourSection .chooseTourSection__header .chooseTourSection__header__menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
}
.chooseTourSection .chooseTourSection__header .chooseTourSection__header__menu .chooseTourSection_menu__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;
}
.chooseTourSection .chooseTourSection__header .chooseTourSection__header__menu .chooseTourSection_menu__item .chooseTourSection_menu__item-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  cursor: pointer;
}
.chooseTourSection .chooseTourSection__header .chooseTourSection__header__menu .chooseTourSection_menu__item .chooseTourSection_menu__item-name:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
}
.chooseTourSection .chooseTourSection__header .chooseTourSection__header__menu .chooseTourSection_menu__item .chooseTourSection_menu__item-name:active {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
  color: #EFA501;
}
.chooseTourSection .chooseTourSection__content {
  max-height: 1092px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1170px;
  padding: 0px;
  gap: 30px;
}
.chooseTourSection .chooseTourSection__content .chooseTour__card:hover .chooseTour__card__background {
  transform: scale(1.2);
  transition: all 300ms ease;
}
.chooseTourSection .chooseTourSection__content .chooseTour__card {
  min-width: 370px;
  min-height: 531px;
  border-radius: 50px;
  position: relative;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
  overflow: hidden;
}
.chooseTourSection .chooseTourSection__content .chooseTour__card .chooseTour__card__background {
  position: absolute;
  max-width: 370px;
  max-height: 100%;
  z-index: -1;
  border-radius: 50px;
  transition: all 0.3s;
}
.chooseTourSection .chooseTourSection__content .chooseTour__card .chooseTour__card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border-radius: 50px;
}
.chooseTourSection .chooseTourSection__content .chooseTour__card .chooseTour__card-content .chooseTour__text-container {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}
.chooseTourSection .chooseTourSection__content .chooseTour__card .chooseTour__card-content .chooseTour__text-container .chooseTour__card__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}
.chooseTourSection .chooseTourSection__content .chooseTour__card .chooseTour__card-content .chooseTour__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 15px;
  cursor: pointer;
  border-radius: 50px;
  position: absolute;
  top: 453px;
  left: 50px;
}
.chooseTourSection .chooseTourSection__content .chooseTour__card .chooseTour__card-content .chooseTour__link:hover {
  width: 199px;
  height: 42px;
  background: #286562;
  position: absolute;
  top: 446px;
  left: 30px;
}
.chooseTourSection .chooseTourSection__content .chooseTour__card .chooseTour__card-content .chooseTour__link:active {
  width: 199px;
  height: 42px;
  background: #EFA501;
  position: absolute;
  top: 446px;
  left: 30px;
}

@media (max-width: 1024px) {
  .chooseTourSection {
    max-height: 1871px;
  }
  .chooseTourSection .chooseTourSection__content {
    max-width: 920px;
  }
  .chooseTourSection .chooseTourSection__content .chooseTour__card {
    min-width: 450px;
  }
  .chooseTourSection .chooseTourSection__content .chooseTour__card .chooseTour__card__background {
    min-width: 450px;
  }
  .chooseTourSection .chooseTourSection__content .chooseTour__card .chooseTour__card-content .chooseTour__text-container {
    max-width: 350px;
  }
}
@media (max-width: 360px) {
  .chooseTourSection {
    min-height: auto;
    gap: 35px;
    max-height: 2172px;
  }
  .chooseTourSection .chooseTourSection__content {
    max-width: 318px;
    letter-spacing: 0.04em;
    gap: 18px;
  }
  .chooseTourSection .chooseTourSection__content .chooseTour__card {
    min-width: 318px;
    min-height: 318px;
    border-radius: 20px;
  }
  .chooseTourSection .chooseTourSection__content .chooseTour__card .chooseTour__card__background {
    min-width: 318px;
    border-radius: 20px;
  }
  .chooseTourSection .chooseTourSection__content .chooseTour__card .chooseTour__card-content {
    padding: 25px;
    left: -2px;
    top: 2px;
  }
  .chooseTourSection .chooseTourSection__content .chooseTour__card .chooseTour__card-content .chooseTour__text-container {
    max-width: 268px;
    gap: 13px;
  }
  .chooseTourSection .chooseTourSection__content .chooseTour__card .chooseTour__card-content .chooseTour__text-container .chooseTour__card__subtitle {
    font-size: 16px;
  }
  .chooseTourSection .chooseTourSection__content .chooseTour__card .chooseTour__card-content .chooseTour__link {
    top: 267px;
    left: 25px;
  }
  .chooseTourSection .chooseTourSection__header {
    max-width: 360px;
    gap: 30px;
  }
  .chooseTourSection .chooseTourSection__header .chooseTourSection__header__menu {
    gap: 10px;
    flex-wrap: wrap;
  }
  .chooseTourSection .chooseTourSection__header .chooseTourSection__header__menu .chooseTourSection_menu__item .chooseTourSection_menu__item-name {
    font-size: 16px;
    line-height: 142%;
  }
}/*# sourceMappingURL=chooseTourSection.css.map */