$whiteColor:  #FFFFFF;
$blackColor: #1B1F2B;
$orangeColor: #EFA501;
$greyColor: #A6A6A6;
$beigeColor: #F9F7F4;
$darkGreen: #286562;
$greenColor: #3B7E7B;
$oliveGreenColor: #627F7E;
$lightGreenColor: #E0F0E5;
$lightBeigeColor: #F4F0E9;
$lightOrange: #F8E6BE;
$whiteSmoke: #F1F3F2;
$gainsboro: #D9DFDB;

*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto';
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
footer, header{display: block;}

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
}

input, button{font-family: inherit;}
button{cursor: pointer;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul, li{list-style: none;}

body {
    position: relative;
    background: $beigeColor;
    max-width: 1920px;

    .wrapper {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 135px;
    
        position: absolute;
        width: 1920px;
        height: 9100px;
        left: 0px;
        top: 1px;
    }
}

// ! HEADER

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('header.png');
    background-size: cover;
    width: 1920px;
    height: 831px;

    .header__navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        gap: 214px;
        width: 1168px;
        height: 30.24px;

        .navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0px;
            gap: 214px;
            margin-left: 376px;
            margin-top: 28.88px;
            width: 1168px;
            height: 30.24px;

            .navbar__logo {
                width: 181.84px;
                height: 30.24px;

                .YourTourLogo {
                    position: absolute;
                    left: 376px;
                    top: 28.88px;
                }
            }

            .navbar__menu {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0px;
                gap: 50px;
                width: 468px;
                height: 28px;

                .menu__item {
                    width: 114px;
                    height: 28px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 142%;
                    color: $whiteColor;
                    white-space: nowrap;
                    cursor: pointer;
                }

                .menu__item:hover {
                    text-decoration-line: underline;
                    text-decoration-thickness: 1px;
                    text-underline-offset: 7px;
                }
            }

            .telephone {
                width: 155px;
                height: 28px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 142%;
                color: $whiteColor;
                white-space: nowrap;
            }
        }
    }

    .header__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 50px;
        width: 1920px;
        height: 743px;

        .header__content__title {
            width: 768px;
            height: 315px;
            font-style: normal;
            font-weight: 700;
            font-size: 96px;
            line-height: 109%;
            text-align: center;
            letter-spacing: 0.02em;
            color: $whiteColor;
        }

        .header__content__subtitle {
            width: 562px;
            height: 56px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 142%;
            text-align: center;
            color: $whiteColor;
        }

        .header__content__button:hover {
            background: $orangeColor;
            .findTourBtn {
                color: $whiteColor;
            }
        }

        .header__content__button:active {
            background: $lightOrange;
            .findTourBtn {
                color: $blackColor;
            }
        }

        .header__content__button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 5px 20px;
            gap: 10px;
            background: $whiteColor;
            border-radius: 10px;
            width: 118px;
            height: 34px;
            cursor: pointer;

            .findTourBtn {
                width: 78px;
                height: 24px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 142%;
                letter-spacing: -0.01em;
                color: $blackColor;
            }
        }
    }
}

// ! ОБЩИЕ ПАРАМЕТРЫ СЕКЦИЙ

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 100px;

    .section__header__flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;

        .section__header__title {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 59px;
            line-height: 124%;
            text-align: center;
            color: $blackColor;
        }

        .section__header__subtitle {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 142%;
            text-align: center;
            color: $greyColor;
        }
    }

    .section__content__flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .info-link__text {
        width: 120px;
        height: 28px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 122%;
        color: $whiteColor;
    }

    .info-link__arrow {
        width: 24px;
        height: 26px;
        position: relative;
        
        img {
            position: absolute;
            left: 4.17%;
            top: 21.15%;
            color: $whiteColor;
            z-index: 0;
        }
    }

    .info-cards__header {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 122%;
        color: $whiteColor;
    }
}

// ! chooseYourTour section

.chooseTourSection {
    width: 1170px;
    height: 1334px;

    .chooseTourSection__header {
        width: 700px;
        height: 142px;
        gap: 35px;

        .chooseTourSection__header__title {
            width: 473px;
            height: 73px;
        }

        .chooseTourSection__header__menu {
            width: 700px;
            height: 34px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 30px;

            .chooseTourSection_menu__item {
                width: 137px;
                height: 34px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 6px;

                .chooseTourSection_menu__item-name {
                    height: 28px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 23px;
                    line-height: 122%;
                    cursor: pointer;
                }

                .chooseTourSection_menu__item-name:hover {
                    text-decoration-line: underline;
                    text-decoration-thickness: 2px;
                    text-underline-offset: 7px;
                }

                .chooseTourSection_menu__item-name:active {
                    text-decoration-line: underline;
                    text-decoration-thickness: 2px;
                    text-underline-offset: 7px;
                    color: $orangeColor;
                }
            }
        }
    }

    .chooseTourSection__content {
        width: 1170px;
        height: 1092px;
        padding: 0px;
        gap: 30px;

        .chooseTour__cards-container {
            width: 1170px;
            height: 531px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 30px;

            .chooseTour__card {
                width: 370px;
                height: 531px;
                border-radius: 50px;
                position: relative;

                .chooseTour__card-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 50px;
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    top: 0px;
                    bottom: 0px;
                    border-radius: 50px;

                    .chooseTour__text-container {
                        width: 270px;
                        height: 126px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: flex-start;
                        padding: 0px;
                        gap: 16px;

                        .chooseTour__card__title {
                            width: 270px;
                            height: 86px;
                        }

                        .chooseTour__card__subtitle {
                            width: 270px;
                            height: 24px;
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 17px;
                            line-height: 142%;
                            letter-spacing: -0.01em;
                            color: $whiteColor;
                        }
                    }

                    .chooseTour__link {
                        width: 159px;
                        height: 28px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        padding: 0px;
                        gap: 15px;
                        cursor: pointer;
                        border-radius: 50px;

                        position: absolute;
                        top: 453px;
                        left: 50px;
                    }

                    .chooseTour__link:hover {
                        width: 199px;
                        height: 42px;
                        background: $darkGreen;
                        position: absolute;
                        top: 446px;
                        left: 30px;
                    }

                    .chooseTour__link:active {
                        width: 199px;
                        height: 42px;
                        background: $orangeColor;
                        position: absolute;
                        top: 446px;
                        left: 30px;
                    }
                }
            }
        }
    }
}

// ! form section

.formSection {
    width: 1170px;
    height: 1245px;

    .formSection__header {
        gap: 30px;
        width: 458px;
        height: 159px;

        .formSection__header__title {
            width: 458px;
            height: 73px;
        }

        .formSection__header__subtitle {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 142%;
            text-align: center;
            color: $greyColor;
        }
    }

    .formSection__content-form {
        height: 986px;
        padding: 70px;
        gap: 33px;
        background: $whiteColor;
        border-radius: 50px;

        .formSection__input-name {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 142%;
            color: $blackColor;
        }

        .formSection__input-fields-container {
            width: 1030px;
            height: 104px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 30px;

            .formSection__input-field-container {
                width: 500px;
                height: 104px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 8px;

                input[type=date]::-webkit-calendar-picker-indicator {
                    opacity: 0;
                } 

                .formSection__input-field {
                    width: 500px;
                    height: 68px;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 20px;
                    gap: 10px;
                    background: $beigeColor;
                    border: 1px solid #F4F0E9;
                    border-radius: 10px;

                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 142%;
                    color: $greyColor;
                    // position: relative;
                }

                .formSection__input-field::placeholder {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 142%;
                    color: $greyColor;
                }

                input[type="date"]:not(.has-value):before{
                    color: $greyColor;
                    content: attr(placeholder);
                }

                .select-field {
                    content: url('./png/Rectangle.png');
                }
            }
        }

        .formSection__input-comment-container {
            width: 1030px;
            height: 188px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;

            .formSection__input-field-comment {
                width: 1030px;
                height: 152px;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 20px;
                gap: 10px;
                background: $beigeColor;
                border: 1px solid #F4F0E9;
                border-radius: 10px;
            }
        }

        .formSection__ageCheck-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 30px;
            // width: 1030px;
            // height: 64px;

            .formSection__input-ageCheck-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 8px;

                .formSection__radio-buttons-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0px;
                    gap: 31px;

                    .formSection__radio-button-container {
                        // width: 63px;
                        // height: 28px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 0px;
                        gap: 11px;

                        .formSection__age-radio-button {
                            width: 26px;
                            height: 26px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .formSection__agreement-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 19px;

            .formSection__agreement-radio-button {
                width: 26px;
                height: 26px;
                outline: solid 1px $blackColor;
            }

            .formSection__accept {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 142%;
                letter-spacing: -0.01em;
                color: $greyColor;

                .formSection__agreement-text-link {
                    color: $blackColor;
                    text-decoration: none;
                    cursor: pointer;
                }

                .formSection__agreement-text-link:hover {
                    text-decoration: underline;
                }

                .formSection__agreement-text-link:active {
                    color: $darkGreen;
                }
            }
        }

        .formSection__buttons-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 30px;

            .formSection__submit-button {
                width: 235px;
                height: 58px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 15px 30px;
                gap: 10px;
                background: $darkGreen;
                border-radius: 10px;
                cursor: pointer;

                .formSection__submit-button-text{
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 142%;
                    color: $whiteColor;
                }
            }

            .formSection__submit-button:hover {
                background: $greenColor;
            }

            .formSection__submit-button:active {
                background: $oliveGreenColor;
            }

            .formSection__reset-button {
                width: 235px;
                height: 58px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 15px 30px;
                gap: 10px;
                background: $lightGreenColor;
                border-radius: 10px;
                cursor: pointer;

                .formSection__reset-button-text {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 142%;
                    color: $darkGreen;
                }
            }

            .formSection__reset-button:hover {
                background: $whiteSmoke;
            }

            .formSection__reset-button:active {
                background: $gainsboro;
            }
        }
    }
}

// ! reviews section

.reviewsSection {
    width: 1170px;
    height: 1005px;

    .reviewsSection__header {
        gap: 30px;

        .reviewsSection__header__title {
            width: 529px;
            height: 146px;
        }

        .reviewsSection__header__subtitle {
            width: 418px;
            height: 56px;
        }
    }

    .reviewsSection__content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        padding: 0px;
        gap: 30px;

        .reviewsSection__review-card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: 40px;
            // width: 570px;
            height: 673px;
            background: $lightBeigeColor;
            border-radius: 50px;

            .reviewsSection__review-card-text {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 23px;
                line-height: 122%;
                color: $blackColor
            }

            .reviewsSection__review-card__footer {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                padding: 70px 0px 0px;
                width: 490px;
                height: 145px;

                .reviewsSection__footer-content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 8px;
                    width: 415px;
                    height: 75px;

                    .reviewsSection__reviewer-name {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 35px;
                        line-height: 122%;
                        color: $blackColor;
                    }

                    .reviewsSection__reviewer-tour {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 142%;
                        letter-spacing: -0.01em;
                        color: $greyColor;
                    }
                }

                .footer-content__reviewer {
                    width: 75px;
                    height: 75px;
                    border-radius: 100px;;
                }
            }
        }
    }
}

// ! travel Photo Section

.travelPhotoSection {
    width: 1920px;
    height: 1222px;

    .travelPhotoSection__header {
        gap: 30px;

        .travelPhotoSection__header__title {
            width: 723px;
            height: 73px;
        }

        .travelPhotoSection__header__subtitle {
            width: 418px;
            height: 56px;
        }
    }

    .travelPhotoSection__content {
        padding: 0px 30px;
        gap: 30px;

        .travelPhotoSection__photo-container {
            width: 1860px;
            height: 301px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 30px;

            .travelPhotoSection__big-photo {
                width: 442.5px;
                height: 300px;
                border-radius: 50px;
            }

            .travelPhotoSection__small-photo {
                width: 349.16px;
                height: 301px;
                border-radius: 50px;
            }
        }
    }
}

// ! travel stories Section

.travelStoriesSection {
    gap: 100px;
    width: 1170px;
    height: 2060px;

    .travelStoriesSection__header {
        gap: 30px;
        width: 615px;
        height: 159px;

        .travelStoriesSection__header__title {
            width: 615px;
            height: 73px;
        }

        .travelStoriesSection__header__subtitle {
            width: 418px;
            height: 56px;
        }
    }

    .travelStoriesSection__content {
        width: 1170px;
        height: 1801px;
        padding: 0px;
        gap: 50px;

        .travelStoriesSection__content-block {
            width: 1170px;
            height: 567px;
            border-radius: 50px;
            position: relative;

            .travelStoriesSection__content-block__footer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0px 60px 60px;
                position: absolute;
                height: 88px;
                left: 0px;
                right: 0px;
                bottom: 0px;

                .travelStoriesSection__footer-details-link {
                    width: 159px;
                    height: 28px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 0px;
                    gap: 15px;
                    cursor: pointer;

                    position: absolute;
                    left: 60px;
                }

                .travelStoriesSection__footer-details-link:hover {
                    width: 199px;
                    height: 42px;
                    background: $darkGreen;
                    border-radius: 50px;
                    position: absolute;
                    top: 23px;
                    left: 40px
                }

                .travelStoriesSection__footer-details-link:active {
                    width: 199px;
                    height: 42px;
                    background: $orangeColor;
                    border-radius: 50px;
                    position: absolute;
                    top: 23px;
                    left: 40px
                }

                .travelStoriesSection__footer-social-networks {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 0px;
                    gap: 35px;
                    height: 28px;

                    position: absolute;
                    left: 788px;

                    .travelStoriesSection__social-network {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 142%;
                        color: $whiteColor;
                        cursor: pointer;
                    }

                    .travelStoriesSection__social-network:hover {
                        text-decoration-line: underline;
                        text-decoration-thickness: 1px;
                        text-underline-offset: 7px;
                    }

                    .travelStoriesSection__social-network:active {
                        color: $orangeColor;
                        text-decoration-line: underline;
                        text-decoration-thickness: 1px;
                        text-underline-offset: 7px;
                    }
                }
            }

            .travelStoriesSection__content-block__content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 60px 0px 0px 60px;
                gap: 37px;  
                position: absolute;
                height: 394px;
                left: 0px;
                right: 0px;
                top: 0px;

                .travelStoriesSection__content-block__title {
                    width: 554px;
                    height: 43px;
                }

                .travelStoriesSection__content-block__text {
                    width: 554px;
                    // height: 224px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 142%;
                    color: $whiteColor;
                }

                .travelStoriesSection__content-block__list {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 142%;
                    color: $whiteColor;
                    
                    .travelStoriesSection__content-block__list-item {
                        list-style: inside;
                    }
                }
            }
        }
    }
}

// ! mail section

.mailSection {
    width: 771px;
    height: 370px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;

    .mailSection__photo {
        width: 370px;
        height: 370px;
        border-radius: 50px;
    }

    .mailSection__content {
        width: 371px;
        height: 162px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;

        .mailSection__content__header {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 35px;
            line-height: 122%;
            color: $blackColor;
        }

        .mailSection__content__text {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 142%;
            color: $greyColor;

            .mailSection__content__mail {
                color: $blackColor;
                text-decoration: none;
            }

            .mailSection__content__mail:hover {
                text-decoration: underline;
            }

            .mailSection__content__mail:active {
                color: $darkGreen;
            }
        }
    }
}

// ! footer

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 214px;
    width: 1920px;
    height: 88px;
    background: $lightBeigeColor;

    .footer__content {
        width: 1168px;
        height: 28px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        gap: 214px;

        .footer__content__text {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 142%;
            color: $greyColor;
        }

        .footer__content__social-networks-links {
            width: 419px;
            height: 28px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 25px;

            .footer__link-block {
                width: 126px;
                height: 28px;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                gap: 10px;

                .inst-icon {
                    width: 26h;
                    height: 26px;
                }

                .footer__social-network {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 142%;
                    color: $blackColor;
                    cursor: pointer;
                }

                .footer__social-network:hover {
                    text-decoration-line: underline;
                    text-underline-offset: 7px;
                    text-decoration-thickness: 1px;
                }
            }
        }
    }
}

// ! scale chooseTour

.chooseTour__card {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
    overflow: hidden;

    .chooseTour__card__background {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 50px;
        transition: all 0.2s;
    }
}

.chooseTour__card:hover .chooseTour__card__background {
    transform: scale(1.2);
    transition: all 300ms ease;
}

// ! scale travelStories

.travelStoriesSection__content-block {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
    overflow: hidden;

    .travelStoriesSection__card__background {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 50px;
        transition: all 0.2s;
    }
}

.travelStoriesSection__content-block:hover .travelStoriesSection__card__background {
    transform: scale(1.2);
    transition: all 300ms ease;
}
